.table-wrapper {
    display: block;
    max-height: 300px;
    overflow-y: auto;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}
.sky-table {
  width: 100%;
  margin-bottom: 100px;
}

.sky-border {
   border: 1px solid #cfc1c1;
   margin: 15px;
}
