<div class="container-fluid">
  <div class="row">
    <div class="x-small col-md-4 col-sm-4 col-xs-2 col-lg-4" *ngFor="let card of cardData">
      <app-card [cardTitle]="card.title" [progressPercent]="card.percent" [cardValue]="card.value" [cardIcon]="card.icon"></app-card>
    </div>
  </div>
  <br>

  <div class="card">
      <div class="row px-4 sky-border">
        <div class="col-xl-3 col-lg-6 col-md-12">
          <mdb-date-picker name="startdate" [options]="startDate" [placeholder]="'Start date'" [(ngModel)]="model1" required></mdb-date-picker>
        </div>
        <div class="col-xl-3 col-lg-6 col-md-12">
          <mdb-date-picker name="enddate" [options]="endDate" [placeholder]="'End date'" [(ngModel)]="model" required></mdb-date-picker>
        </div>
        <div class="col-xl-3 col-lg-6 col-md-12">
          <mdb-select [options]="optionsSelect" placeholder="Choose your option"></mdb-select>
        </div>
        <div  class="col-xl-3 col-lg-6 col-md-12">
          <form class="form-inline mt-2 ml-2 ng-untouched ng-pristine ng-valid" novalidate="">
            <input [(ngModel)]="search" name="search" class="form-control my-0 py-0" placeholder="Search" type="text">
            <button  class="btn btn-sm btn-primary ml-2 px-2 waves-effect waves-light"><i
              class="fa fa-search"></i>
            </button>
          </form>
        </div>
      </div>
  <div class="row">
    <div  class="table-title view gradient-card-header blue-gradient narrower py-2 mx-4 mb-3 d-flex justify-content-between align-items-center">
    <div class="table-title-text">
      <a class="white-text mx-3" href="">Quotes</a>
    </div>
  </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <app-table [tableData]="tableData" [search]="search"></app-table>
    </div>
  </div>
</div>
</div>
