

<div _ngcontent-c5="">
        <div _ngcontent-c5="" class="card card-cascade cascading-admin-card">
            <div _ngcontent-c5="" class="admin-up">
                <i _ngcontent-c5="" class="fa fa-money primary-color"></i>
                <div _ngcontent-c5="" class="data">
                    <p _ngcontent-c5="">SALES</p>
                    <h4 _ngcontent-c5=""><strong _ngcontent-c5="">$2000</strong></h4>
                </div>
            </div>

            <div _ngcontent-c5="" class="card-body">
                <div _ngcontent-c5="" class="progress">
                    <div _ngcontent-c5="" aria-valuemax="100" aria-valuemin="0" aria-valuenow="25" class="progress-bar bg-primary" role="progressbar" style="width: 25%"></div>
                </div>
                <p _ngcontent-c5="" class="card-text">Better than last week (25%)</p>
            </div>
        </div>
  </div>
