
@media screen and (max-width:450px) {
    .loginForm {
        margin: 10px;        
    }
}
.loginForm {
  margin: 0 auto;
  width: 400px;
.login-title {
      text-align: center;
    }
    .login {
      padding:20px;
      width: 100%;
      .form-control:focus{
        box-shadow: none;
      }
      .mat-input-container {
        .mat-focused {
          color: green;
          background-color: red;
        }
      }

    }
    .card {
        background: #fff;
        padding: 20px ;
        margin-top: 5%;
        .login-image {
            width: 65%;
            height: 38px;
        }
        button {
            background: #4267B2;
        }
        .login {
            padding-top: 20px 0px;
        }
        .help-text {
            color: red;
            font-size: 10px;
        }
    }
}

.btn-google-plus {
    background: #d34836!important;
    color: #fff;
}
