.bg-image {
  background-image: url('../../../assets/images/banner.jpg');
}

.login-form {
    .login {
      padding:20px;
      .md-form {
          position: relative;
          margin-bottom: 2.5rem;
      }
      .login-btn {
        width: 100%;
      }
      .forget-password {
        color: #45cafc;
        font-size: 11px;
      }
    }
}
