<div class="vertical-menu blue">

<!-- Sidebar navigation -->
<div #sidenav class="fixed">
    <!-- Logo -->
    <li>
        <div class="logo-wrapper waves-light">
            <a href="#"><img src="http://mdbootstrap.com/img/logo/mdb-transparent.png" class="img-fluid flex-center"></a>
        </div>
    </li>
    <!--/. Logo -->

    <!--Search Form-->
    <li>
        <form class="search-form" role="search">
            <div class="form-group waves-light" mdbWavesEffect>
                <input type="text" class="form-control" placeholder="Search">
            </div>
        </form>
    </li>
    <!--/.Search Form-->


    <button class="btn btn-default blue waves-light" type="button" (click)="test.toggle()" mdbWavesEffect>
      <i class="fa fa-chevron-right"></i>
        Toggle collapse
        <i class="fa fa-angle-down rotate-icon"></i>
    </button>

    <div class="" [mdbCollapse]="isCollapsed" #test="bs-collapse" (showBsCollapse)="showBsCollapse()" (shownBsCollapse)="shownBsCollapse()" (hideBsCollapse)="hideBsCollapse()" (hiddenBsCollapse)="hiddenBsCollapse()">
        <div class="blue card card-body">
          <ul>
            <a class="nav-link"><span class="clearfix d-none d-sm-inline-block">Contact</span></a>
          </ul>
          <ul>
            <a class="nav-link"><span class="clearfix d-none d-sm-inline-block">Contact</span></a>
          </ul>
        </div>
    </div>

    <button class="btn btn-default blue waves-light" type="button" (click)="test1.toggle()" mdbWavesEffect>
      <i class="fa fa-chevron-right"></i>
        Toggle collapse
        <i class="fa fa-angle-down rotate-icon"></i>
    </button>

    <div class="" [mdbCollapse]="isCollapsed" #test1="bs-collapse" (showBsCollapse)="showBsCollapse()" (shownBsCollapse)="shownBsCollapse()" (hideBsCollapse)="hideBsCollapse()" (hiddenBsCollapse)="hiddenBsCollapse()">
        <div class="blue card card-body">
          <ul>
            <a class="nav-link"><span class="clearfix d-none d-sm-inline-block">Contact</span></a>
          </ul>
          <ul>
            <a class="nav-link"><span class="clearfix d-none d-sm-inline-block">Contact</span></a>
          </ul>
        </div>
    </div>
    <button class="btn btn-default blue waves-light" type="button" (click)="test2.toggle()" mdbWavesEffect>
      <i class="fa fa-chevron-right"></i>
        Toggle collapse
        <i class="fa fa-angle-down rotate-icon"></i>
    </button>

    <div class="" [mdbCollapse]="isCollapsed" #test2="bs-collapse" (showBsCollapse)="showBsCollapse()" (shownBsCollapse)="shownBsCollapse()" (hideBsCollapse)="hideBsCollapse()" (hiddenBsCollapse)="hiddenBsCollapse()">
        <div class="blue card card-body">
          <ul>
            <a class="nav-link"><span class="clearfix d-none d-sm-inline-block">Contact</span></a>
          </ul>
          <ul>
            <a class="nav-link"><span class="clearfix d-none d-sm-inline-block">Contact</span></a>
          </ul>
        </div>
    </div>



    <div class="sidenav-bg mask-strong"></div>
</div>
</div>
